[
 ;; session
 {:db/doc "Key to look up session"
  :db/ident :session/key
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/doc "All session data"
  :db/ident :session/data
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}
 
 ;; users
 {:db/ident :user/username
  :db/id #db/id [:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 {:db/ident :user/password
  :db/id #db/id [:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/ident :user/email
  :db/id #db/id [:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 ;; forms
 {:db/ident :form/field
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Form Field"
  :db.install/_attribute :db.part/db}
 
  {:db/ident :form/value
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Form Value"
  :db.install/_attribute :db.part/db}
  
  ;; yodlee
  ;; username/login/email
]
